.btn {
    border: none;
    padding : 25px 15px;
    font-weight: 700;
    color : white;
    font-family: sans-serif;
    border-radius: 5px;
     i {
        margin-left : 30px;
     }

    &-ingredients {
        background-color: $ingredients;
    }

    &-appareils {
        background-color: $appareils;
    }

    &-ustensiles {
        background-color: $ustensiles;
    }
}

.tags {
    margin-top : 40px;
}
.tag {
    @extend .btn;
    margin : 10px 10px 0 0;
    padding : 5px 10px;

    &[data-filtercat="ustensiles"] {
        background-color : $ustensiles
    }

    &[data-filtercat="appareils"] {
        background-color : $appareils
    }

    &[data-filtercat="ingredients"] {
        background-color : $ingredients
    }

}